<nav class="navbar fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/MedwayBranding/trust.png" alt="Logo" class="logo">
    </a>
    <div class="nav-items">
      <a class="nav-link" routerLink="/home">
        <i class="fas fa-home me-2"></i>Home
      </a>
      <a class="nav-link" routerLink="/about-us">
        <i class="fas fa-info-circle me-2"></i>About Us
      </a>
      <a class="nav-link" routerLink="/member">
        <i class="fas fa-user-plus me-2"></i>Become a Member
      </a>
      <a class="nav-link" routerLink="/donations">
        <i class="fas fa-hand-holding-heart me-2"></i>Donations
      </a>
    </div>
  </div>
</nav>